node_modules/

.parcel-cache/
dist/
.env
.DS_Store
.vscode/
.parcel-cache/lock.mdb
.parcel-cache/data.mdb
.parcel-cache/d0c49832511ab0e3.txt
.parcel-cache/9c4db7f2c4a2647c
.parcel-cache/8e38eec4763d0588
.parcel-cache/65a5fa4d8fa0e548
.parcel-cache/65a5fa4d8fa0e548
.parcel-cache/65a5fa4d8fa0e548
.parcel-cache/8e38eec4763d0588
.parcel-cache/9c4db7f2c4a2647c
.parcel-cache/data.mdb
.parcel-cache/lock.mdb
.parcel-cache/d0c49832511ab0e3.txt
.parcel-cache/9c4db7f2c4a2647c
.parcel-cache/65a5fa4d8fa0e548
.parcel-cache/8e38eec4763d0588
.parcel-cache/lock.mdb
.parcel-cache/data.mdb
.parcel-cache/d0c49832511ab0e3.txt
.parcel-cache/65a5fa4d8fa0e548
.parcel-cache/8e38eec4763d0588
.parcel-cache/9c4db7f2c4a2647c
.parcel-cache/d0c49832511ab0e3.txt
.parcel-cache/data.mdb
.parcel-cache/lock.mdb
